.container {
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    height: 100%;
}

.photoContainer {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 50%;
    flex-direction: row;
}

.photo {
}

.form {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 50%;
}

.textField {
    font-size: 50%;
}

.info {
    width: 100%;
    height: 30%;
    font-size: 10%;
    -unity-text-align: middle-center;
    -unity-font: initial;
}
