.tabs {
    flex-direction: row;
}

Button:hover {
    background-color: #aaaaaa;
}

Button:active {
    background-color: #888888;
}

Button.selected {
    background-color: red;
    color: white;
}

Button {
    transition: background-color 0.2s;
}